body{
    background-color: black;
    color: white;
}
.sub{
    background-color: white;
    text-align: center;
}
.list{
    display: inline-block;
}
.list a{
    color: #000;
    text-decoration: none;
    padding: 25px 25px 25px 25px;
    display: block;
}
.list a:hover{
    background-color: #000;
    color: white;
}
.t1{
    text-align: center
}
.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);

}
.card {
    border-radius: 20px;
    margin-left: 20px;
    height: 200px;
    background-color: white;
    flex: 1%;
    transition: transform 0.1s ease-in-out;
    margin-bottom: 10%;
}
.card:hover {
    flex: 5%;
    background-color: white;
    transform: scale(1.2);
    margin-left: 10%;
    margin-right: 10%;
}
.img{
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: white;
    margin-left: 36%;
}
img{
   width: 400px;
   height: 200px;
}